*{margin:0;padding:0;}

.row {
    max-width: 960px;
    margin:0px auto;
}

.content {
    max-width: 960px;
    margin:10px 10px auto;
}

/*        header        */
.logo{
    background-color: lightgrey;
}

/*         menu         */
.menu {
    margin-top: 10px;
}

.menu ul li{
    font-size: 16px;
    list-style-type: none;
    float: right;
    margin-left: 3.6%;
    margin-right: 0px;
}

.grid ul li{
    font-size: 16px;
    list-style-type: none;
    float: left;
    margin-right: 3.6%;
    margin-left: 0px;
}